<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<nav class="navbar d-flex justify-content-start">  
<div class="dropdown">
    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="/images/index/bird.png" width="50" height="50" alt="Bird">
    </button>   
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><button type="button" class="btn btn-primary drop-btn">
      <a style="color: white; text-decoration: none;" href="/nest">Return to the Nest</a>
  </button></li>      
      <li><button type="button"  class="btn btn-primary drop-btn">
        <a style="color: white; text-decoration: none;" href="/date">Home</a>
    </button></li>
      <li><button type="button" class="btn btn-primary drop-btn">
        <a style="color: white; text-decoration: none;" href="/date/<%= user.profile._id %>">My Profile</a>
    </button></li>
    <li><button type="button" class="btn btn-primary drop-btn">
      <a style="color: white; text-decoration: none;" href="/date/messageIndex">Messages</a>
  </button></li>
  <li><button type="button" class="btn btn-primary drop-btn">
    <a style="color: white; text-decoration: none;" href="/date/allProfiles">All Users</a>
</button></li>
<li><button type="button" class="btn btn-primary drop-btn">
  <a style="color: white; text-decoration: none;" href="/auth/logout">Logout</a>
</button></li>
    </ul>
  </div>
    </button>
</nav>
      </form>
    </div>
  </div>
</div>