</head>
<body>
<nav class="navbar navbar-light bg-light">  
    <a class="navbar-brand" href="#">
    </a>
    </div>
  </div>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      
      <img src="/images/auth/google/birdcon.png" width="30" height="30" alt="">
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#">I</a></li>
      <li><a class="dropdown-item" href="#">Might be</a></li>
      <li><a class="dropdown-item" href="#">Stupid</a></li>
    </ul>
  </div>
    </button>
</nav>
 