.drop-btn {
    width: 160px;
}
body {
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    color: black;
}
.navbar {
    margin-bottom: 25px;
    border-bottom: 5px solid black;
    background-color: rgb(255, 255, 121);
}
.dropdown-toggle {
    margin-left: 15px;
    background-color: rgb(0, 255, 242);
}
a {
    text-decoration: none;
    color: black;
}